@tailwind base;

@font-face {
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/biscuit-web/fonts/lexend.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('/biscuit-web/fonts/Inter-roman.var.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('/biscuit-web/fonts/Inter-italic.var.woff2') format('woff2');
}

body {
	animation: opacity 1s ease-in-out;
}

.subtitle {
	animation: opacity 3s ease-in-out;
}

@keyframes opacity {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}

details summary {
	position: relative;
	display: inline-block;
	width: 100%;
}

details summary h2 {
	display: inline-block;
	margin-left: 0.2rem;
}

details summary span {
	display: inline-block;
	width: 15px;
	height: 15px;
	color: #7c7c7c;
}

details[open] summary .open-icon {
	display: inline-block;
}

details summary .open-icon {
	display: none;
}

details summary .closed-icon {
	display: inline-block;
}

details[open] summary .closed-icon {
	display: none;
}

@tailwind components;
@tailwind utilities;
